* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00050c;
  }
  
  .login-container {
    background-color: rgba(0, 5, 9, 0.389);
    padding: 50px;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 350px;
    color: rgb(255, 252, 252);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .input-group {
    margin-bottom: 15px;
    border-radius: 20%;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 20px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
   
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  label{
    
      color: rgba(255, 255, 255);
    
  
  }
   